{% include "default/Structure/Header.twig" %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Mes', 'Faturamento'],
            ['Jan', parseInt('{{ fatureByMonth.jan }}')],
            ['Fev', parseInt('{{ fatureByMonth.fev }}')],
            ['Mar', parseInt('{{ fatureByMonth.mar }}')],
            ['Abr', parseInt('{{ fatureByMonth.abr }}')],
            ['Mai', parseInt('{{ fatureByMonth.mai }}')],
            ['Jun', parseInt('{{ fatureByMonth.jun }}')],
            ['Jul', parseInt('{{ fatureByMonth.jul }}')],
            ['Ago', parseInt('{{ fatureByMonth.ago }}')],
            ['Set', parseInt('{{ fatureByMonth.set }}')],
            ['Out', parseInt('{{ fatureByMonth.out }}')],
            ['Nov', parseInt('{{ fatureByMonth.nov }}')],
            ['Dez', parseInt('{{ fatureByMonth.dez }}')]
        ]);

        var options = {
            title: '',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>
{% set kg = 0 %}
{% set m3 = 0 %}
{% for entry in actualEntries %}
{% if entry.type == 'K' %}
{% set kg = kg + 1 %}
{% else %}
{% set m3 = m3 + 1%}
{% endif %}
{% endfor %}
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Tipos', 'Quantidade'],
            ['KG', parseInt('{{ kg }}')],
            ['M3', parseInt('{{ m3 }}')],
        ]);

        var options = {
            title: '',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3 col-xxl-4 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Faturamento Mensal</span>
                        </div>
                        {% set monthFature = 0 %}
                        {% for entry in actualEntries %}
                        {% set monthFature = monthFature + entry.total %}
                        {% endfor %}
                        <div class="text-dark fw-bold h5 mb-0"><span>R$ {{ monthFature|number_format(2, ',',
                                '.')}}</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 col-xxl-4 mb-4">
        <div class="card shadow border-start-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Faturamento total</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                R$ {{ totalFature|number_format(2, ',', '.')}}
                            </span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 col-xxl-4 mb-4">
        <div class="card shadow border-start-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Numero de pesagens do
                                mês</span></div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ actualEntries|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">Faturamento do Ano 2023</h6>
            </div>
            <div class="card-body">
                <div id="curve_chart" style="width: 100%; min-height: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">Tipos de Pesagem</h6>
            </div>
            <div class="card-body">
                <div id="donutchart" style="width: 100%; height: 300px;"></div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xxl-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Ultimas Pesagens</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Placa</th>
                                <th>Fornecedor</th>
                                <th>Item</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                            <tr>
                                <td>{{ entry.id }}</td>
                                <td>{{ entry.car }}</td>
                                <td>{{ entry.supplier }}</td>
                                <td>{{ entry.item }}</td>
                                <td>{{ entry.observation }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "default/Structure/Footer.twig" %}